<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageQuant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ImageQuant.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThumbnailSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Preview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveManualPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateChildDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChildDirectory" serializeAs="String">
                <value>ImageQuant</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrefixName" serializeAs="String">
                <value>min-</value>
            </setting>
            <setting name="Suffix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuffixName" serializeAs="String">
                <value>-min</value>
            </setting>
            <setting name="Resize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaximumSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ChangeFormat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>PNG</value>
            </setting>
            <setting name="ChangeJpgQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JpgQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ChangePngQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PngQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ManualThumbnailSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveRecentlyDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mailer" serializeAs="String">
                <value>outlook</value>
            </setting>
        </ImageQuant.Properties.Settings>
    </userSettings>
</configuration>
